<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application name="RemotingServer">
			<service>
				<wellknown 
					mode="Singleton"
					type="MonRut.Remoting.Server.RemotingServer, 
					MonRut.Remoting.Server"
					objectUri="RemotingServer" 
				/>
			</service>
			<channels ref="tcp server" port="4040" />
		</application>
	</system.runtime.remoting>
</configuration>
