<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application name = "RemotingServer">
			<client>
				<wellknown 
					type = "MonRut.Remoting.Server.RemotingClient, MonRut.Remoting.Server"
					url = "tcp://localhost:4040/RemotingServer" />
			</client>
			<channels>
				<channel ref="tcp client" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>